.titulo{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;

}
.products{
    display:grid;
    grid-template-columns: repeat(auto-fill ,  60vh);
    justify-items: center;
    justify-content: center;

}

